@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Clinica_SantaRosa.PL.WebApp.Models.UsuarioModel

<html>
<head>
    <title>Listado de Usuarios</title>
</head>
<body>
    <h2>Listado de usuarios del Sistema</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Correo</th>
                <th>EstadoID</th>
            
            </tr>
        </thead>
        <tbody>
            @if (Model.listaUsuarios() != null && Model.listaUsuarios().Count() > 0)
            {
                foreach (var usu in Model.listaUsuarios())
                {
                    <tr>
                        <td>@usu.Username</td>
                        <td>@usu.Nombres</td>
                        <td>@usu.Apellidos</td>
                       
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">NO HAY USUARIOS</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
